<h1>Main Page</h1>
<img src="https://www.istockphoto.com/de/foto/stern-traurige-katze-isoliert-auf-wei%C3%9Fem-hintergrund-gm1434414228-476036446?searchscope=image%2Cfilm" alt="Funny Cat">
<p>This is a protected page. Only logged-in users can see this.</p>
<a href="/">Back to Home</a>